[Unit]
Description=Timer for automatically syncing to Google Drive

[Timer]
# Run every 2 hours
OnCalendar=0/2:00

# Randomize the start time to avoid thundering herd problem
RandomizedDelaySec=5m

# Ensure the service runs shortly after boot if the scheduled time was missed
Persistent=true

[Install]
WantedBy=timers.target
